<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your profile</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/login/styles.css">
    <script src="/styles/jquery-latest.min.js"></script>
    <script src="/styles/login/index.js"></script>
</head>
    <div class="heading">
        <h1>Wild Cart</h1>
    </div>
            <form action="/logout" method="get">
                <div class="tp">
                    <input type="submit" value="Logout">
                </div>
            </form>
</body>
</html>
