<!DOCTYPE html>
<html lang="en">
<head>
    <title> Recipes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/styles/jquery-latest.min.js"></script>
    <script src="/styles/recipe/index.js"></script>
</head>
<body onload="createList()">
    <div class="jumbotron">
        <h1>Wild Cart</h1>
        <h3 id="WelcomeMessage"></h3>
        <form class="form-inline">
    <div id="myDIV" class="input-group">
        <p>Please enter up to three ingredients you would like to search for sepereated by commas</p>
        <input type="text" class="form-control" id="ingredients" placeholder="Ham,Cheese,Tomato">
        <div class="input-group-append">  
                <button type="button" class="btn btn-success btn-block" onclick="newInput()">Search</button>
            </div>
            </div>
            </form>
    </div>
    <ul id="recipelist" class = "list-group"></ul>
</body>

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">WildCart</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/carts">CART</a></li>
              <li><a href="/logout">LOGOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>
</html>